# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://bjsthalwthlfpmscxogl.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_jrJ-B37eVD0csQ0ZOWfPFw_ojCdzZjc"

# Resend
RESEND_API_KEY="re_RAjbhS4s_NqoMqyweMMvmytDbYr3MREeH"

# n8n Webhooks (e.g., https://your-n8n.com/webhook/org-register)
N8N_ORG_WEBHOOK_URL="your-n8n-org-webhook-url"
N8N_VOLUNTEER_WEBHOOK_URL="your-n8n-volunteer-webhook-url"
